---

- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  loop:
    - /etc/haproxy

- name: Configuring haproxy
  become: true
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: 0644
  register: config_template

- name: Setup haproxy
  community.docker.docker_container:
    name: "haproxy"
    image: "{{ haproxy_image }}"
    network_mode: host
    restart: "{{ config_template.changed }}"
    volumes:
      - /etc/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    # healthcheck:
    #   test: ['CMD', '/opt/bitnami/scripts/haproxy/healthcheck.sh']
    #   interval: 15s
    #   timeout: 5s
    #   retries: 6
