---

- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: 0755
  loop:
    - /etc/haproxy
    - /etc/haproxy/certs

- name: Copy certs
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/etc/haproxy/certs/{{ item }}"
    owner: root
    group: root
    mode: "0666"
  loop:
    - grafana.pem
  register: certs_template

- name: Configuring haproxy
  become: true
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: 0644
  register: config_template

- name: Setup haproxy
  community.docker.docker_container:
    name: "haproxy"
    image: "{{ haproxy_image }}"
    network_mode: host
    restart_policy: unless-stopped
    restart: "{{ config_template.changed or certs_template.changed }}"
    volumes:
      - /etc/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    # healthcheck:
    #   test: ['CMD', '/opt/bitnami/scripts/haproxy/healthcheck.sh']
    #   interval: 15s
    #   timeout: 5s
    #   retries: 6
