---
- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: 1001
  loop:
    - /etc/grafana
    - /etc/grafana/data

- name: Setup grafana
  community.docker.docker_container:
    name: "grafana"
    image: "{{ grafana_image }}"
    network_mode: host
    volumes:
      - /etc/grafana/data:/var/lib/grafana:Z
    env:
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: "{{ monitoring_admin_password }}"
    # healthcheck:
    #   test: ['CMD', '/opt/bitnami/scripts/grafana/healthcheck.sh']
    #   interval: 15s
    #   timeout: 5s
    #   retries: 6

- name: Wait until grafana is available
  ansible.builtin.wait_for: 
    host: "{{ hostvars[inventory_hostname].ansible_host }}"
    port: 3000
    delay: 5

- name: create prometheus datasource
  community.grafana.grafana_datasource:
    name: prometheus
    grafana_url: 'http://{{ hostvars[inventory_hostname].ansible_host }}:3000'
    grafana_user: 'admin'
    grafana_password: '{{ monitoring_admin_password }}'
    ds_type: prometheus
    ds_url: 'http://{{ hostvars[inventory_hostname].ansible_host }}:9090'
    access: proxy

- name: Import Grafana dashboard node exporter
  community.grafana.grafana_dashboard:
    grafana_url: 'http://{{ hostvars[inventory_hostname].ansible_host }}:3000'
    grafana_user: 'admin'
    grafana_password: '{{ monitoring_admin_password }}'
    folder: General
    dashboard_id: 1860
    dashbord_revision: 30
