---
- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: 1001
  loop:
    - /etc/grafana
    - /etc/grafana/data

- name: Setup grafana
  community.docker.docker_container:
    name: "grafana"
    image: "{{ grafana_image }}"
    network_mode: host
    volumes:
      - /etc/grafana/data:/var/lib/grafana:rw
    env:
      - GF_SECURITY_ADMIN_USER: "admin"
      - GF_SECURITY_ADMIN_PASSWORD: "{{ monitoring_admin_password }}"
    # healthcheck:
    #   test: ['CMD', '/opt/bitnami/scripts/grafana/healthcheck.sh']
    #   interval: 15s
    #   timeout: 5s
    #   retries: 6

- name: Add default datasource
  ansible.builtin.include_role:
    name: grafana-config
  vars:
    grafana_datasources:
      - name: prometheus
        type: prometheus
        access: proxy
        url: 'http://{{ hostvars[inventory_hostname].ansible_host }}:9090'
        basicAuth: false
    grafana_dashboards:
      - dashboard_id: 1860
        revision_id: 30
        datasource: prometheus
