
CREATE USER 'mysqld_exporter'@'localhost' IDENTIFIED BY '{{ mariadb_exporter_password }}' WITH MAX_USER_CONNECTIONS 2;

GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO 'mysqld_exporter'@'localhost';

FLUSH PRIVILEGES;
