---

- name: Setup forwarding on gateway
  hosts: gateway[0]
  become: true
  roles:
    - forwarding
  tags:
    - forwarding

- name: Setup default route
  hosts: 
    - maria
    - monitoring
  become: true
  roles:
    - default-gateway
  tags:
    - default-gateway

- name: Setup pre-requisites
  hosts: all
  become: true
  roles:
    - common
  tags:
    - common

- name: Install docker
  hosts: all
  become: true
  roles:
    - docker
  tags:
    - docker

- name: Bootstrap cluster 
  hosts: maria[0]
  become: true
  roles:
    - gelara
  vars:
    bootstrap_cluster: 'yes'
  tags:
    - bootstrap
    - maria

- name: Add masters to cluster
  hosts:
    - "!maria[0]"
    - maria
  become: true
  roles:
    - gelara
  tags:
    - masters
    - maria

- name: Install exporters
  hosts: all
  become: true
  roles:
    - exporters
  tags:
    - exporters
    - monitoring

- name: Install prometheus
  hosts: monitoring
  become: true
  roles:
    - prometheus
  tags: 
    - prometheus
    - monitoring

# - name: Install grafana
#   hosts: monitoring
#   become: true
#   roles:
#     - grafana
#   tags:
#     - grafana
#     - monitoring

- name: Deploy lbs
  hosts: lb
  become: true
  roles:
    - haproxy
  tags:
    - haproxy
