global
	log /dev/log	local0
	log /dev/log	local1 notice

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

userlist admincred
	user admin password {{ monitoring_admin_password }}

# frontend grafana_frontend
#     bind {{  hostvars[groups['gateway'].0].public_address }}:3000
#     mode tcp
#     option tcplog
#     http-request redirect scheme https unless { ssl_fc }
#     default_backend grafana_backend
# backend grafana_backend
#     mode tcp
#     option ssl-hello-chk
#     server grafana {{ hostvars[groups['gateway'].0].ansible_host }}:3000 check

frontend prometheus_frontend
    bind *:9090
    mode tcp
    option tcplog
	acl authusers_acl http_auth(admincred) 
	http-request auth realm prometheus_backend if !authusers_acl
	default_backend prometheus_backend

backend prometheus_backend
    mode tcp
    server prometheus {{ hostvars[groups['monitoring'].0].ansible_host }}:9090 check
