---

- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: 1001
  loop:
    - /etc/maria
    - /etc/maria/data
    - /etc/maria/docker-entrypoint-startdb.d

- name: Setup maria
  community.docker.docker_container:
    name: "mariadb"
    image: "{{ mariadb_image }}"
    network_mode: host
    restart: "{{ config_template.changed }}"
    volumes:
      - /etc/maria/data:/bitnami/mariadb:rw
      - /etc/maria/docker-entrypoint-startdb.d:/docker-entrypoint-startdb.d:ro
    env:
      MARIADB_ROOT_USER: "root"
      MARIADB_ROOT_PASSWORD: "{{ mariadb_root_password }}"
      MARIADB_USER: "default"
      MARIADB_DATABASE: "default"
      MARIADB_PASSWORD: "{{ mariadb_password }}"
      MARIADB_GALERA_CLUSTER_NAME: mariadb-cluster
      MARIADB_GALERA_MARIABACKUP_USER: "backup"
      MARIADB_GALERA_MARIABACKUP_PASSWORD: "{{ mariadb_backup_password }}"
      MARIADB_GALERA_CLUSTER_BOOTSTRAP: "{{ bootstrap_cluster | default('no') }}"
      MARIADB_REPLICATION_USER: "replication"
      MARIADB_REPLICATION_PASSWORD: "{{ mariadb_replication_password }}"
      MARIADB_GALERA_CLUSTER_ADDRESS: "gcomm://{% for host in groups['maria'][:-1] %}{{ hostvars[host].ansible_host }},{% endfor %}{{ hostvars[groups['maria'][-1]].ansible_host }}"
    healthcheck:
      test: ['CMD', '/opt/bitnami/scripts/mariadb-galera/healthcheck.sh']
      interval: 15s
      timeout: 5s
      retries: 6

- name: Wait until DB is available
  ansible.builtin.wait_for: 
    host: "{{ hostvars[inventory_hostname].ansible_host }}"
    port: 3306
    delay: 5
