global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['{{ hostvars[groups['monitoring'].0].ansible_host }}:9090']
        labels:
          instance: monitoring
          address: {{ hostvars[groups['monitoring'].0].ansible_host }}:9090
  - job_name: 'node_exporter'
    static_configs:
{% for host in groups['all'] %}
      - targets: ['{{ hostvars[host].ansible_host }}:9100']
        labels:
          instance: {{ host }}
          address: {{ hostvars[host].ansible_host }}:9100
{% endfor %}
  - job_name: 'mysql'
    static_configs:
{% for host in groups['maria'] %}
      - targets: ['{{ hostvars[host].ansible_host }}:9104']
        labels:
          instance: {{ host }}
          address: {{ hostvars[host].ansible_host }}:9104
{% endfor %}
  - job_name: 'db-exporter'
    static_configs:
{% for host in groups['maria'] %}
      - targets: ['{{ hostvars[host].ansible_host }}:8185']
        labels:
          instance: {{ host }}
          address: {{ hostvars[host].ansible_host }}:8185
{% endfor %}
