global:
  scrape_interval: 30s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['{{ hostvars[groups['monitoring'].0].ansible_host }}:9090']
        labels:
          instance: monitoring
          address: {{ hostvars[groups['monitoring'].0].ansible_host }}:9090
  - job_name: 'node_exporter'
    static_configs:
{% for host in groups['all'] %}
      - targets: ['{{ hostvars[host].ansible_host }}:9100']
        labels:
          instance: {{ host }}
          address: {{ hostvars[host].ansible_host }}:9100
{% endfor %}
