name: Ansible Lint

on:
  push:
    paths:
      - 'inventories/**'
      - 'roles/**'
      - '.github/workflows/ansible-lint.yml'
      - '*.yml'
  pull_request:
    paths:
      - 'inventories/**'
      - 'roles/**'
      - '.github/workflows/ansible-lint.yml'
      - '*.yml'

jobs:
  lint:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Lint Ansible Playbooks
        uses: ansible-community/ansible-lint-action@main
