name: DB-Exporter

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/db-exporter.yml"
      - ./apps/db-exporter/**"
      - ./apps/db-exporter/*"
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install -r requirements.txt

      - name: Set registry hostname
        id: set_registry_hostname
        run: |
          content=$(ansible all  -i inventories/hosts.ini --list-hosts -l registry | sed -n '2p' | xargs)
          echo "::set-output name=registry_hostname::$content"
      
      - name: Build image
        working-directory: ./apps/db-exporter
        run: |
          docker build -t ${{steps.set_registry_hostname.outputs.registry_hostname}}:5000/db-exporter:latest .

      - name: Push image
        run: |
          docker push ${{steps.set_registry_hostname.outputs.registry_hostname}}:5000/db-exporter:latest

